NODE_ENV=development
ENVIRONMENT_NAME=dev
REDIS_ENABLED=false
TOKEN_VERIFICATION_ENABLED=false
HMPPS_AUTH_URL=service-url
AUTH_CODE_CLIENT_ID=CLIENT_ID_HERE
AUTH_CODE_CLIENT_SECRET=CLIENT_SECRET_HERE
CLIENT_CREDS_CLIENT_ID=CLIENT_ID_HERE
CLIENT_CREDS_CLIENT_SECRET=CLIENT_SECRET_HERE
TOKEN_VERIFICATION_API_URL=VERIFICATION_URL_HERE
NOTIFY_API_KEY=API_KEY_HERE
AUTHORISED_ROLE=ROLE_HERE
