{% extends "../partials/layout.njk" %}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{% from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}
{%- from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation -%}
{%- from "moj/components/notification-badge/macro.njk" import mojNotificationBadge -%}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContainer %}
  {{ govukServiceNavigation({
    navigation: [
      { href: "#", text: "Sent reminders", href: "/", active: true }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({ titleText: "There is a problem", errorList: errors | toErrorList }) }}
  {% endif %}

  <div class="moj-page-header-actions moj-page-header-actions__title">
    <h1 class="govuk-heading-xl">
      {{'Sent reminders'}}
    </h1>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {%- set filterOptionsHtml %}
          {{ mojDatePicker({
            id: "from",
            name: "from",
            label: {
              text: "Date from",
              classes: "govuk-label--s govuk-!-font-weight-bold"
            },
            formGroup: {
              classes: "govuk-!-margin-bottom-3",
              attributes: {
                'data-qa': 'from'
              }
            },
            value: filters.from | formatDate('d/M/yyyy'),
            minDate: minDate | formatDate('d/M/yyyy'),
            maxDate: maxDate | formatDate('d/M/yyyy'),
            errorMessage: {
              text: errors.from
            } if errors.from
          }) }}

          {{ mojDatePicker({
            id: "to",
            name: "to",
            label: {
              text: "Date to",
              classes: "govuk-label--s"
            },
            formGroup: {
              classes: "govuk-!-margin-bottom-3",
              attributes: {
              'data-qa': 'to'
              }
            },
            value: filters.to | formatDate('d/M/yyyy'),
            minDate: minDate | formatDate('d/M/yyyy'),
            maxDate: maxDate | formatDate('d/M/yyyy'),
            errorMessage: {
              text: errors.to
            }
            if errors.to
          }) }}

        {{ govukInput({
          id: 'keywords',
          name: 'keywords',
          label: {
            text: 'Keywords',
            classes: 'govuk-label--s'
          },
          value: filters.keywords
        }) }}

        {{ govukCheckboxes({
          idPrefix: 'status',
          name: 'status',
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              html: 'Status<br/><a href="https://docs.notifications.service.gov.uk/rest-api.html#text-message-status-descriptions" class="govuk-body-s govuk-link--no-visited-state">What do these values mean?</a>',
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: availableFilterOptions.statuses
        }) if availableFilterOptions.statuses | length > 0 }}

        {{ govukCheckboxes({
          idPrefix: 'template',
          name: 'template',
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: 'Template',
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: availableFilterOptions.templates
        }) if availableFilterOptions.templates | length > 0 }}

        {{ govukRadios({
          idPrefix: 'provider',
          name: 'provider',
          classes: "govuk-radios--small",
          fieldset: {
            legend: {
              text: 'Provider',
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: availableFilterOptions.providers
        }) if availableFilterOptions.providers | length > 0 }}
      {% endset -%}

      <form>
        {{ mojFilter({
          heading: { text: 'Filters' },
          submit: { attributes: { id: "apply-filters-button" } },
          selectedFilters: null if(availableFilterOptions.asCategories | length == 0) else {
            heading: { text: 'Selected filters'},
            clearLink: { text: 'Clear', href: '/' },
            categories: availableFilterOptions.asCategories
          },
          optionsHtml: filterOptionsHtml
        }) }}
      </form>
    </div>

    <div class="govuk-grid-column-two-thirds">
      {% if results | length == 0 %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            No results. Try adjusting the filters or selecting a different date.
          </strong>
        </div>
      {% else %}
        <p class="govuk-body" id="result-count">Showing {{ results | length }} result{{ 's' if results | length != 1 }}.</p>
        {{ govukTable({
          head: headers,
          rows: results
        }) }}
      {% endif %}
    </div>
  </div>

{% endblock %}
